In [1]:
# Operators

# Operators are special symbol in python that carry out arithmatic or logical etc computation

# Arithmatic operators

# Addition - "+"
# Substraction - "-"
# Multiplication - "*"
# Division - "/" 
# Modulo - "%"
# Floor Division - "//"
# Power or Exponent operator - "**"

In [13]:
# Addition

# Int Data type
#print(10+10)
a = 10
b = 10

#print(a+b)

# String Data Type

s1 = "ABC"
s2 = "DEF"
#print(s1+s2)

# Float Data type

f1 = 10.01
f2 = 10.02

#print(f1+f2)

# Boolean Data type

b1 = True
b2 = True

print(b1+b2)

b3 = False
b4 = False

print(b3+b1)

d1 = 10
d2 = "muzz"

c = b1 + b2
print(c)

2
1
2

In [19]:
# Substraction

# Int Data type
print(10-10)
a = 10
b = 10

print(a-b)

# String Data Type

s1 = "ABC"
s2 = "DEF"
#print(s1-s2) - Not possible

# Float Data type

f1 = 10.01
f2 = 10.02

print(f1-f2)

# Boolean Data type

b1 = True
b2 = True

print(b1-b2)

b3 = False
b4 = False

print(b3-b1)

d1 = 10
d2 = "muzz"

#print(d1-d2)

0
0

TypeError: ignored

In [26]:
# Multiplication

# Int Data type
print(10*10)
a = 10
b = 10

print(a*b)

# String Data Type

s1 = "ABC"
s2 = "DEF"
#print(s1-s2) - Not possible

# Float Data type

f1 = 10.01
f2 = 10.02

print(f1*a)

# Boolean Data type

b1 = True
b2 = True

print(b1*b2)

b3 = False
b4 = False

#print(b3-b1)

d1 = 10
d2 = "muzz"

print(d1*d2)

100
100
100.1
1
muzzmuzzmuzzmuzzmuzzmuzzmuzzmuzzmuzzmuzz

In [34]:
# Division - output will be in float always

# Int Data type
print(10/10)
a = 10
b = 10

print(a/b)

# String Data Type

s1 = "ABC"
s2 = "DEF"
#print(s1/s2) - not possible

# Float Data type

f1 = 10.01
f2 = 10.02

print(f1/f2)

# Boolean Data type

b1 = True
b2 = True

print(b1/b2)

b3 = False
b4 = False

#print(b3-b1)

d1 = 10
d2 = "muzz"

#print(d1/d2)

print(10.01/10)

1.0
1.0
0.999001996007984
1.0
1.001

In [38]:
# Modulo or mod

print(10.1%2)

0.09999999999999964

In [44]:
# Floor Divison - Output will be in integer

# Int Data type
print(10//10)
a = 10
b = 10

print(a//b)

# String Data Type

s1 = "ABC"
s2 = "DEF"
#print(s1/s2) - not possible

# Float Data type

f1 = 10.50
f2 = 10.02

print(f1//f2)

# Boolean Data type

b1 = True
b2 = True

#print(b1/b2)

b3 = False
b4 = False

#print(b3-b1)

d1 = 10
d2 = "muzz"

#print(d1//d2)

#print(10.01/10)

1
1
1.0

In [48]:
# Power or exponent operator

a = 10
b = 2
print(10**4)

s1 = "muzz"
s2 = 10
#print(s1)

10000

TypeError: ignored

In [68]:
# Relational operator 
# The output of relational operator will always be boolean

a = 10
b = 20

# > greater than

print(a>b)

# < less than
print(a<b)

# == equality 

print(a == b)

# >=

print(a>=b)

# <=
print(a<=b)

# != Not Equal
print(a!=b)

False
True
False
False
True
True

In [69]:
# with Strings

s1 = "abcd"
s2 = "abcd"

print(s1<s2)

# with > or < the comparison will happen on length of the strings


# With == the string itself will compared

print(s1==s2)

print(s1!=s2)

False
True
False

In [70]:
# logical operator - Always works with boolean data type

# and -> if both the condtions are true it will be true else false
# or -> if any one condition is true then true else false
# not -> It works as a converter

In [73]:
a = False
b = True

print(a and b)

False

In [77]:
a = False
b = False

print(a or b)

False

In [80]:
a = True
b = False
print(not b)

True

In [85]:
# Equality Operator 

# == 
# is 

a = 10
b = 10

if a is b:
  print("Hello")

Hello

In [87]:
# Assignment operator

# =

a = 10
b = a

print(b)

10

In [101]:
l1 = [10]
a = 2

print(l1 * a)

# So with list and tuple it will multiply the list that many time

[10, 10]