In [ ]:
# Python String Functions

In [ ]:
# Lstrip() # Remove the white spaces from the left side of the string
# Rstrip # Remove the white spaces from the right side

str1 = "    Hello"
print(str1.lstrip())

Hello

In [ ]:
# Function to find the city is available using lstrip

def find_city(city_name):
  city_list = ["Mumbai", "Delhi", "Banglore", "Chennai"]

  if city_name.lstrip() in city_list:
    print("The city is available")

  else:
    print("city is not available")

city_name = input("Please enter a city name")
find_city(city_name)

Please enter a city name        Mumbai
The city is available

In [ ]:
# Function to find the city is available rstrip

def find_city(city_name):
  city_list = ["Mumbai", "Delhi", "Banglore", "Chennai"]

  if city_name.rstrip() in city_list:
    print("The city is available")

  else:
    print("city is not available")

city_name = input("Please enter a city name")
find_city(city_name)

Please enter a city nameMumbai
The city is available

In [ ]:
# Function to find the city is available using both

def find_city(city_name):
  city_list = ["Mumbai", "Delhi", "Banglore", "Chennai"]
  city_name = city_name.lstrip() 
  city_name = city_name.rstrip()

  if city_name in city_list:
    print("The city is available")

  else:
    print("city is not available")

city_name = input("Please enter a city name")
find_city(city_name)

Please enter a city name     Mumbai
The city is available

In [ ]:
# Find Function


str1 = "Hello my name is Muzzammil"

str1.find('xml')

-1

In [ ]:
# Input: a4b3c2

# Output: aaaabbbcc


def generate_string(input_string):
  number_list = []
  alphabet_list = []
  final_str = ""

  for i in input_string:

    if i.isdigit():

      number_list.append(int(i))

    elif i.isalpha():

      alphabet_list.append(i)

    
  for num in range(len(number_list)):
    final_str = final_str + (alphabet_list[num] * number_list[num])

  print(final_str)
    



generate_string("a4b3c2")

aaaabbbcc

In [ ]:
# input: s1: john
        #s2: Jame

# Output: jjoahmne

def func2(str1, str2):
  final_str = ""
  for i in range(len(str1)):
    final_str += str1[i] + str2[i]

  print(final_str)

func2("john", "Jame")

jJoahmne

In [ ]:
# Assgiment Questions

# 1

# input: Thescholar
#.       0123456789
# Output: # Even Character Index
            # Tecoa

          # Odd Character Index
          # hshlr


# 2 

# Input: b4a1d3
# output: abd134

# REGULAR EXPRESSION

In [ ]:
# Installing the packages
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement re (from versions: none)
ERROR: No matching distribution found for re

In [ ]:
import re

count = 0
pattern = re.compile("cd")

matcher = pattern.finditer("cdcdcdcdcdcdcdcdcdcdcdcdcdcdc")

for match in matcher:
  print("The start index is ", match.start(), "The end index is ", match.end(), match.group())

The start index is  0 The end index is  2 cd
The start index is  2 The end index is  4 cd
The start index is  4 The end index is  6 cd
The start index is  6 The end index is  8 cd
The start index is  8 The end index is  10 cd
The start index is  10 The end index is  12 cd
The start index is  12 The end index is  14 cd
The start index is  14 The end index is  16 cd
The start index is  16 The end index is  18 cd
The start index is  18 The end index is  20 cd
The start index is  20 The end index is  22 cd
The start index is  22 The end index is  24 cd
The start index is  24 The end index is  26 cd
The start index is  26 The end index is  28 cd

In [ ]:
# Pattern 

# [abc] -> either a or b or c

import re

count = 0
pattern = re.compile("[abc]")

matcher = pattern.finditer("cdcdcdcdcdcdcdcdcdcdcdcdcdcdcabababa")

for match in matcher:
  print("The start index is ", match.start(), "The end index is ", match.end(), match.group())

The start index is  0 The end index is  1 c
The start index is  2 The end index is  3 c
The start index is  4 The end index is  5 c
The start index is  6 The end index is  7 c
The start index is  8 The end index is  9 c
The start index is  10 The end index is  11 c
The start index is  12 The end index is  13 c
The start index is  14 The end index is  15 c
The start index is  16 The end index is  17 c
The start index is  18 The end index is  19 c
The start index is  20 The end index is  21 c
The start index is  22 The end index is  23 c
The start index is  24 The end index is  25 c
The start index is  26 The end index is  27 c
The start index is  28 The end index is  29 c
The start index is  29 The end index is  30 a
The start index is  30 The end index is  31 b
The start index is  31 The end index is  32 a
The start index is  32 The end index is  33 b
The start index is  33 The end index is  34 a
The start index is  34 The end index is  35 b
The start index is  35 The end index is  36 a

In [ ]:
# [^abc] -> except a and b and c

# [a-z] -> all the small letters from a-z
# [A-Z] -> All the upper letters from A-Z
# [0-9] -> ALL the digits from 0-9

In [ ]:
import re
matcher = re.finditer('[acx]', "a7b@#$%c*&^x")
for i in matcher:
  print(i.start(), i.end(), i.group())

0 1 a
7 8 c
11 12 x

In [ ]:
import re
matcher = re.finditer('[a-z]', "a7b@#$%c*&^x")
for i in matcher:
  print(i.start(), i.end(), i.group())

0 1 a
2 3 b
7 8 c
11 12 x

In [ ]:
import re
matcher = re.finditer('[a-zA-Z0-9]', "a7b@#$%c*&^xA*&((BSDSD")
for i in matcher:
  print(i.start(), i.end(), i.group())

0 1 a
1 2 7
2 3 b
7 8 c
11 12 x
12 13 A
17 18 B
18 19 S
19 20 D
20 21 S
21 22 D

In [ ]:
# \s -> Search for white space
# \S -> Except the space
# \d -> Search for digits
# \D -> Except for Digits
# \w -> any alphabet
# \W -> Any character except alphanumeric (special chars)

In [ ]:
import re

matcher = re.finditer("\s", "ASCSm.  ASAS.  SDSDSD")
for i in matcher:
  print(i.start(), i.end(), i.group())

6 7
7 8
13 14
14 15

In [ ]:
import re

matcher = re.finditer("\S", "ASCSm.  ASAS.  SDSDSD")
for i in matcher:
  print(i.start(), i.end(), i.group())

0 1 A
1 2 S
2 3 C
3 4 S
4 5 m
5 6 .
8 9 A
9 10 S
10 11 A
11 12 S
12 13 .
15 16 S
16 17 D
17 18 S
18 19 D
19 20 S
20 21 D

In [ ]:
import re

matcher = re.finditer("\d", "ASCSm.  ASAS.  SDSDSD 232323 2323 2312")
for i in matcher:
  print(i.start(), i.end(), i.group())

22 23 2
23 24 3
24 25 2
25 26 3
26 27 2
27 28 3
29 30 2
30 31 3
31 32 2
32 33 3
34 35 2
35 36 3
36 37 1
37 38 2

In [1]:
import re

matcher = re.finditer("\W", "ASCSm.  ASAS.  SDSDSD 232323 2323 2312 $ % #$#$#(*")
for i in matcher:
  print(i.start(), i.end(), i.group())

5 6 .
6 7
7 8
12 13 .
13 14
14 15
21 22
28 29
33 34
38 39
39 40 $
40 41
41 42 %
42 43
43 44 #
44 45 $
45 46 #
46 47 $
47 48 #
48 49 (
49 50 *

In [3]:
# . ALL the items of the string

import re
matcher = re.finditer(".", "Aasdjhds. wejkwej jhwhej %^&")

for i in matcher:
  print(i.start(), i.end(), i.group())

0 1 A
1 2 a
2 3 s
3 4 d
4 5 j
5 6 h
6 7 d
7 8 s
8 9 .
9 10
10 11 w
11 12 e
12 13 j
13 14 k
14 15 w
15 16 e
16 17 j
17 18
18 19 j
19 20 h
20 21 w
21 22 h
22 23 e
23 24 j
24 25
25 26 %
26 27 ^
27 28 &

In [5]:
# + -> one or more occurences of the pattern

import re
matcher = re.finditer("c+", "Aasdjhds. wejkwej jhwhej ccsdsdsd cccccc %^&")

for i in matcher:
  print(i.start(), i.end(), i.group())

25 27 cc
34 40 cccccc

In [6]:
# * -> zero or more occurences of the pattern
# Any number c's including 0

import re
matcher = re.finditer("c*", "Aasdjhds. wejkwej jhwhej ccsdsdsd cccccc %^&")

for i in matcher:
  print(i.start(), i.end(), i.group())

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
11 11
12 12
13 13
14 14
15 15
16 16
17 17
18 18
19 19
20 20
21 21
22 22
23 23
24 24
25 27 cc
27 27
28 28
29 29
30 30
31 31
32 32
33 33
34 40 cccccc
40 40
41 41
42 42
43 43
44 44

In [9]:
# ? -> Atmost one pattern

import re
matcher = re.finditer("c?", "Aasdjhds. wejkwej jhwhej ccsdsdsd cccccc %^&")

for i in matcher:
  print(i.start(), i.end(), i.group())

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
11 11
12 12
13 13
14 14
15 15
16 16
17 17
18 18
19 19
20 20
21 21
22 22
23 23
24 24
25 26 c
26 27 c
27 27
28 28
29 29
30 30
31 31
32 32
33 33
34 35 c
35 36 c
36 37 c
37 38 c
38 39 c
39 40 c
40 40
41 41
42 42
43 43
44 44

In [13]:
# {n} -> n- the number of occurences of pattern

import re
matcher = re.finditer("c{6}", "Aasdjhds. wejkwej jhwhej ccsdsdsd cccccc %^&")

for i in matcher:
  print(i.start(), i.end(), i.group())

34 40 cccccc

In [32]:
# {m,n} -> m,n- the range of occurences of pattern

import re
matcher = re.finditer("c{2,5}", "Aasdjhds. wejkwej jhwhej ccsdsdsd cccccc %^&")

for i in matcher:
  print(i)
  print(i.start(), i.end(), i.group())

print(matcher)

<re.Match object; span=(25, 27), match='cc'>
25 27 cc
<re.Match object; span=(34, 39), match='ccccc'>
34 39 ccccc
<callable_iterator object at 0x7fbafdf4db10>

In [20]:
# ^ -> Whether it is starting from pattern or not

import re
matcher = re.finditer("^c", "cAasdjhds. wejkwej jhwhej ccsdsdsd cccccc %^&")

for i in matcher:
  print(i.start(), i.end(), i.group())

0 1 c

In [22]:
# $ -> Whether it is ending from pattern or not

import re
matcher = re.finditer("c$", "cAasdjhds. wejkwej jhwhej ccsdsdsd cccccc %^& c")

for i in matcher:
  print(i.start(), i.end(), i.group())

46 47 c

In [23]:
# Important functions in RE Module


# finditer()
# compile()
# match()
# fullmatch() -> to look into full match
# search()
# sub()
# split()

In [30]:
import re

s = "1asdsd@gmail.com  1asdsd@gmail.com"
m = re.match("1asdsd@gmail.com", s)

if m is not None:
  print("Match is available")

else:
  print("Match is not available")

Match is available
<re.Match object; span=(0, 16), match='1asdsd@gmail.com'>

In [37]:
import re

s = "hey my email is 1asdsd@gmail.com"
m = re.fullmatch("1asdsd@gmail.com", s)

print(m)

None

In [40]:
import re

s = "hey my email is 1asdsd@gmail.com"
m = re.search("1asdsd@gmail.com", s)

print(m.group(), m.start(), m.end())

1asdsd@gmail.com 16 32

In [41]:
import re

s = "hey my email is 1asdsd@gmail.com"
m = re.sub("1asdsd@gmail.com", "my@gmail.com", s)

print(m)

hey my email is my@gmail.com

In [42]:
l = "10,20,30,40,50,60"

print(l.split(','))

['10', '20', '30', '40', '50', '60']

In [49]:
import re
s = "An Apple a day keeps doctor away, An antitode for the corona is covax"
m = re.split("[A]", s)
print(m[2])

pple a day keeps doctor away,

In [53]:
# Function to validate a email address


# adamsmith123@gmail.com -> valid email

# adam@gmail.c -> Invalid email

# Adamgmail.com -> Invalid email

# Adam@gmail,com -> Invalid email

def validate_email(email):
  pattern = "[a-zA-Z0-9]*@[a-zA-Z0-9]*[.][a-zA-Z]{2,3}"

  m = re.fullmatch(pattern, email)

  if m is not None:
    print("Email is valid")
  else:
    print("email is not valid")

In [58]:
validate_email("my@gmail.in")

Email is valid

In [60]:
# Function to find a ip address 

# 43.248.74.141 -> Valid
# 192.169.0.1 -> valid

# 1923.12.1.0 -> Invalid


def find_ipaddress(str1):
  pattern = "[0-9]{1,3}[.][0-9]{1,3}[.][0-9]{1,3}[.][0-9]{1,3}"

  m = re.findall(pattern, str1)

  for i in m:
    print(i)




str1 = "192.168.0.1 -> hey how are you doing -> 43.248.74.141"
find_ipaddress(str1)

192.168.0.1
43.248.74.141

In [62]:
# function to scrape the telephone numbers from the website

import re
import urllib.request 

url = "https://www.summet.com/dmsi/html/codesamples/addresses.html"

response = urllib.request.urlopen(url)

data = response.read()
data_str = data.decode()


pattern = "\(\d{3}\) \d{3}-\d{4}"

tele_data = re.findall(pattern, data_str)

for i in tele_data:
  print(i)

(257) 563-7401
(372) 587-2335
(786) 713-8616
(793) 151-6230
(492) 709-6392
(654) 393-5734
(404) 960-3807
(314) 244-6306
(947) 278-5929
(684) 579-1879
(389) 737-2852
(660) 663-4518
(608) 265-2215
(959) 119-8364
(468) 353-2641
(248) 675-4007
(939) 353-1107
(570) 873-7090
(302) 259-2375
(717) 450-4729
(453) 391-4650
(559) 104-5475
(387) 142-9434
(516) 745-4496
(326) 677-3419
(746) 679-2470
(455) 430-0989
(490) 936-4694
(985) 834-8285
(662) 661-1446
(802) 668-8240
(477) 768-9247
(791) 239-9057
(832) 109-0213
(837) 196-3274
(268) 442-2428
(850) 676-5117
(861) 546-5032
(176) 805-4108
(715) 912-6931
(993) 554-0563
(357) 616-5411
(121) 347-0086
(304) 506-6314
(425) 288-2332
(145) 987-4962
(187) 582-9707
(750) 558-3965
(492) 467-3131
(774) 914-2510
(888) 106-8550
(539) 567-3573
(693) 337-2849
(545) 604-9386
(221) 156-5026
(414) 876-0865
(932) 726-8645
(726) 710-9826
(622) 594-1662
(948) 600-8503
(605) 900-7508
(716) 977-5775
(368) 239-8275
(725) 342-0650
(711) 993-5187
(882) 399-5084
(287) 755-9948
(659) 551-3389
(275) 730-6868
(725) 757-4047
(314) 882-1496
(639) 360-7590
(168) 222-1592
(896) 303-1164
(203) 982-6130
(906) 217-1470
(614) 514-1269
(763) 409-5446
(836) 292-5324
(926) 709-3295
(963) 356-9268
(736) 522-8584
(410) 483-0352
(252) 204-1434
(874) 886-4174
(581) 379-7573
(983) 632-8597
(295) 983-3476
(873) 392-8802
(360) 669-3923
(840) 987-9449
(422) 517-6053
(126) 940-2753
(427) 930-5255
(689) 721-5145
(676) 334-2174
(437) 994-5270
(564) 908-6970
(577) 333-6244
(655) 840-6139