In [3]:
# Inputs in Python
# We are using this because we need the value at run time from the user

a = input()
b = input()


print("The value you entered is ")
print(a)

1234
The value you entered is
1234

In [7]:
a = input("Please enter a number ")
b = input("Please enter 2nd number")

c = a + b

print(c)

Please enter a number 10
Please enter 2nd number20
1020

In [12]:
# how to take integer as input

# int() is function which will convert string to integer

a = "101212121212121"
print(type(a))

b = int(a)
print(type(b))

<class 'str'>
<class 'int'>

In [13]:
# Taking integer in input

a = input("Please enter a number")

b = int(a)

print(type(b))

Please enter a number10
<class 'int'>

In [15]:
a = int(input("Please enter a number "))
b = int(input("please enter 2nd number"))

c = a + b
print("Addition is ")
print(c)

Please enter a number 10
please enter 2nd number20
Addition is
30

In [21]:
a = int(input("Please enter a number "))
b = int(input("please enter 2nd number"))

c = a + b
print("Addition is {} of number {} and number {}".format(c, a, b))

Please enter a number 10
please enter 2nd number20
Addition is 30 of number 10 and number 20

In [25]:
# Taking Float as input

a = float(input("Please enter a value with decimals"))

print(a)
print(type(a))

Please enter a value with decimals120.322
120.322
<class 'float'>

In [26]:
# Write a program to input employee id and employee name and emp salary

e_name = input("please enter employee name")

emp_id = int(input("Please enter employee id as string"))


emp_salary = float(input("Please enter employee salary"))

print("The {} with id {} has salary of {} rs".format(e_name, emp_id, emp_salary))

please enter employee nameMuzzzammil
Please enter employee id01
Please enter employee salary7000.783
The Muzzzammil with id 1 has salary of 7000.783 rs

In [27]:
# Map function

# map(input1, input2) the first input is a function for int, float the second input is a iterable for list or a tuple

In [35]:
l1 = map(float, ["10", "20"])

print(list(l1))

[10.0, 20.0]

In [37]:
# Take list as a input

l3 = map(int, input())
print(list(l3))

10
[1, 0]

In [44]:
# taking the list of strings as a input
c = input("Please enter multiple numbers separated by a ,").split(",")

print(c)

Please enter multiple numbers separated by a ,ABC, 123, True
['ABC', ' 123', ' True']

In [41]:
# Taking integer list as input

integer_list = map(int, input("Please enter multiple numbers separated by a ,").split(","))

print(list(integer_list))

Please enter multiple numbers separated by a ,10,20,30,40
[10, 20, 30, 40]

In [43]:
# Taking float list as input

float_list = map(float, input("Please enter multiple numbers separated by a ,").split(","))

print(list(float_list))

Please enter multiple numbers separated by a ,ABC, 123, True

ValueError: ignored

In [49]:
# taking the list of strings as a input
c = input("Please enter multiple numbers separated by a space").split("-")

print(c)

Please enter multiple numbers separated by a space10,20,30,40-100,400
['10,20,30,40', '100,400']

In [50]:
# Outputs

# print()
# Replacement operator 
# .format

In [52]:
# Replacement operator
a = 10

print("The value is {}".format(a))

The value is 10

In [55]:
a = 10
b = 20 
c = 30

print(a,b,c, sep='-')

10-20-30