In [ ]:
# Flow Control

# If and else condition


# if (conditions):    if that condition is true
  # Result or do something

# else:    if that condition is not true
  # Do something

In [ ]:
a = 12

if a == 10:
  print("A value is 10")
else:
  print("A values in not 10")

A values in not 10

In [ ]:
# User input example

a = int(input("Please enter one number"))

if a == 10:
  print("You have entered the number 10")

else:
  print("You have not entered the number 10")

Please enter one number100
You have not entered the number 10

In [ ]:
designation = input("Please enter your designation")

if designation == "CEO":
  print("Hey boss good evening")

else:
  print("Good Evening")

Please enter your designationManager
Good Evening

In [ ]:
# Multiple If conditions


# If - elif - elif - else


# if Condition:
  # Do something

# elif condition:
# Do something

# elif condition:
# Do something

# Else:
  # Do something




# if - if - if - if - else


# if condition:
  # 
# if condition:
  #

# else:
  #

# # if - if - if - if - elif - else

# if condition:
  # 

# if condition:
 #
# if condition:
  #
# elif condition:
  #

In [ ]:
designation = input("Please enter your designation")

if designation == "CEO":
  print("Hey boss good evening")

elif designation == "MANAGER":
  print("hey manager Goood evening")

elif designation == "Project lead":
  print("hey project lead Good evening")

elif designation == "Team Lead":
  print("Hey team lead good evening")

else:
  print("good evening")

Please enter your designationTeam lead
good evening

In [ ]:
# Even odd example

number = int(input("Please enter the number"))

if number % 2 == 0:
  print("The number is even")

if number % 2 == 1:
  print("The number is odd")

elif number == 0:
  print("The number is zero")

Please enter the number5
The number is 0dd

In [ ]:
# Pass Fail example


percentage = float(input("Please enter your percentage"))

if percentage > 35:
  print("You have passed the exam")

else:
  print("You have failed the exam")

Please enter your percentage34.8
You have failed the exam

In [ ]:
#


course_1 = input("Please enter the course name you have completed")
course_2 = input("Please enter the another course name you have completed")

if course_1 == "SQL" and course_2 == "STATS":
  print("You are eligible for the python course")

elif course_1 == "SQL" or course_2 == "STATS":
  print("You are eligible but please complete both the course")

else:
  print("You are not eligible")

Please enter the course name you have completedSTATS
Please enter the another course name you have completedSQL
You are not eligible

In [ ]:
# Very correct approach 


course_1 = input("Please enter the course name you have completed")
course_2 = input("Please enter the another course name you have completed")

course_list = ["SQL", "STATS"]

if course_1 in course_list and course_2 in course_list:
  print("You are eligible for the python course")

elif course_1 in course_list or course_2 in course_list:
  print("You are eligible but please complete both the course")

else:
  print("You are not eligible")

Please enter the course name you have completedSTATS
Please enter the another course name you have completedSQL
You are eligible for the python course

In [ ]:
# Flow Control


# For loop 

# Doing a single thing again and again for a specified number of time


list_1 = [0, 1, 2, 3, 4, 5, 6, 7]

for i in list_1:
  print(i)

# Syntax

# for variable in iterable.

0
1
2
3
4
5
6
7

In [ ]:
# for i in range(10, 20):
#   print(i)


for i in range(1, 21, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(10):
  if i == 5:
    print("Five")
  else:
    print(i)

0
1
2
3
4
Five
6
7
8
9

In [ ]:
list_1 = [0, 1, 2, 2, 3, 4, 5, 4]

list_1.count(2)

2

In [ ]:
list_1 = [0, 1, 2, 2, 3, 4, 5, 4, 4]

for i in list_1:
  if list_1.count(i) > 1:
    print(i, "This is a duplicate", "and it is repeating " , list_1.count(i), "number of times")

2 This is a duplicate and it is repeating  2 number of times
2 This is a duplicate and it is repeating  2 number of times
4 This is a duplicate and it is repeating  3 number of times
4 This is a duplicate and it is repeating  3 number of times
4 This is a duplicate and it is repeating  3 number of times

In [ ]:
str_1 = "This is a string"

for i in str_1:
  print(i)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [ ]:
str_1 = "This is a string"


count = 0

for i in str_1:
  count = count + 1

print(count)

16

In [ ]:
list_1 = [0, 100, 34, 45, 23, 54, 42]

for i in range(len(list_1)):
  print(i)

print("\n")

for i in list_1:
  print(i)

0
1
2
3
4
5
6


0
100
34
45
23
54
42

In [ ]:
# While Loop

# Iterate until a condition is met

# While (condition):
# Do something

# it will run until the condition is true


x = 0

while(x<10):
  print(x)
  x = x + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:

coupon = 5

utilized = 0

while utilized <= 5:
  print("Total coupon left are", coupon - utilized)

  utilized = utilized + 1

print("No coupon left")

Total coupon left are 5
Total coupon left are 4
Total coupon left are 3
Total coupon left are 2
Total coupon left are 1
Total coupon left are 0
No coupon left

In [ ]:
# ONE more method to solve the duplicate problem
list_1 = [1, 2, 2, 3, 4, 5, 4, 4]

count = 0
value = 2

for i in list_1:

  if value == i:
    count = count + 1

if count>1:
  print(value, "is a duplicate")

2 is a duplicate