In [12]:
# Exception Handling

l = [0,1,2]
print(l[3])

IndexError: ignored

In [5]:
# Compilation or compile time error

l = [0,1,3]
print(l[4]

SyntaxError: ignored

In [7]:
# Run time error also known as exception

n = int(input("Please enter a number to divide 10 "))

print(10/n)

Please enter a number to divide 10 0

ZeroDivisionError: ignored

In [10]:
# Exception Handling - is a way to handle the run time errors

# try block 
# except block

try:
  n = int(input("Please enter a number to divide 10 "))
  print(10/n)

except Exception:
  print("Please dont divide the number by 0")

SyntaxError: ignored

In [15]:
l = [0,1,2]

try:
  print(l[4])

except Exception:
  print("An Error occured")

An Error occured

In [13]:
def func_1():
  try:
    print(1/0)

  except Exception:
    print("Error occured")

In [14]:
func_1()

Error occured

In [20]:
try:
  print(l[4])
  print(1/0)

except ZeroDivisionError:
  print("You cannot divide number by zero")

except IndexError:
  print("List index out of range")

List index out of range

In [17]:
print(1/0)

ZeroDivisionError: ignored

In [26]:
# Nested Exception Handling

try:
  print("Here on line 1")
  print(1/1)
  print("Here on line 2")
  try:
    print(l[2])

  except Exception:
    print("Error occured in the inner try block")

except Exception:
  print("Error occured in the outer try block")

Here on line 1
1.0
Here on line 2
2

In [27]:
# OOP - Object Oriented Programming 

# Class

# A collection of similar variables and function


# Objects

# An object is a instance of a class

In [31]:
# Defining a class
class sample_class:
  pass

In [32]:
# Defining a object
obj_a = sample_class()
obj_b = sample_class()
obj_c = sample_class()

In [42]:
class Car:
  def __init__(self):
    self.model = "Sedan"
    self.fuel_type = "diesel"
    self.color = "Red"

  def give_details(self):
    print("Model is ", self.model)
    print("fuel type is ", self.fuel_type)
    print("Color is ", self.color)

In [43]:
obj_a = Car()

In [44]:
obj_a.give_details()

Model is  Sedan
fuel type is  diesel
Color is  Red

In [45]:
# Constructor 

# A special function in python
# the name of this function should always be __init__()
# It will be executed automatically when we create a object
# The objective is to perform initialization 
# It is optional if we dont define a default constructor will be used

In [46]:
# Self

# By using self we can access all the variables and functions of a class

In [47]:
class Car:
  def __init__(self, model, fuel_type, color):
    self.model = model
    self.fuel_type = fuel_type
    self.color = color

  def give_details(self):
    print("Model is ", self.model)
    print("fuel type is ", self.fuel_type)
    print("Color is ", self.color)

In [48]:
obj_a = Car("Sedan", "Diesel", "Red")

In [49]:
obj_a.give_details()

Model is  Sedan
fuel type is  Diesel
Color is  Red

In [50]:
obj_b = Car("HatchBack", "Petrol", "White")

In [51]:
obj_b.give_details()

Model is  HatchBack
fuel type is  Petrol
Color is  White

In [70]:
class Employee:
  def __init__(self, name, id, salary):
    self.name = name
    self.id = id
    self.salary = salary
    print("The constructor is executing")

  def give_employee_name_1(self):
    self.name = "Rahul"
    print("The employee name is ", self.name)

  def give_employee_name_2(self):
    self.name = "Mayank"
    print("The Employee name is ", self.name)

  def give_employee_name_3(self):
    print("The Employee name is ", self.name)

In [75]:
obj_3 = Employee("C", 2, 300)

The constructor is executing

In [77]:
obj_3.give_employee_name_1()

The employee name is  Rahul

In [78]:
obj_3.give_employee_name_3()

The Employee name is  Rahul

In [83]:
class A:
  def __init__(self, name):
    self.name = name


  def func_1(self):
    self.name = "Muzz"
    print(self.name)

  def func_2(self):
    print(self.name)

In [86]:
a = A("Rahul")

In [89]:
a.func_2()

Muzz

In [88]:
a.func_1()

Muzz