In [ ]:
# How to install Python

In [ ]:
# Python Identifiers / Variables
# Variables or identifiers are nothing but a name given to the values in python
x = 10
name = "Muzzammil"
NAME = "MUZZAMMIL"
n123 = "Digits with alpha"
_my_name = "Muzzammil"



print(NAME)

MUZZAMMIL
10

In [ ]:
# Rules to follow while defining an identifier

# Alphabets ( both or upper or lower case)
# Digits (identifer name should always start with a alphabet, Then digits are followed)
# Underscores are allowed "_"

In [ ]:
# DATA TYPES

# 10 - Integer or int
# "Muzzammil" - String or str
# True or False - Boolean bool
# 10.35 - Float or float

In [ ]:
x = 10
name = "Muzzammil"
boolean_data_type = True
floating_data_type = 10.30

In [ ]:
# Date

date = "13/08/2022"
print(date)

13/08/2022

In [ ]:
# Collection Data Types
# Collecting all the data in a single place

# List

l = [10, 20, 30, "Muzzammil", True, 10.78]
print(l)

grocery_list = ["Onion", "Dals", "Dhaniya", "Detergent Powder", 10, 20]
print(type(grocery_list))

duplicated_list = [10,10,10,10]
print(duplicated_list)

# Attributes of lists

# insertion order is preserved
# Duplicates are allowed
# Hetrogeneous data types are allowed
# Growable in nature

[10, 20, 30, 'Muzzammil', True, 10.78]
<class 'list'>
[10, 10, 10, 10]

In [ ]:
# Features of list
# Indexing - indexing always start with 0, so for example is you want to access first element then you have to give 0.
# print(l[3])

# Reverse Indexing

#print(l[-2])

# For Range indexing you have to add 1 to the upper range always and lower range you have to substract it by 1

print(l[1:5])

[20, 30, 'Muzzammil', True]

In [28]:
# Features or functions that comes with the string data type
string = "Muzzammil123"

In [15]:
print(string.find('s'))

-1

In [17]:
print(string.count('M'))

1

In [21]:
print(string.capitalize())

Muzzammil

In [30]:
string.isalnum()

True

In [42]:
list_1 = [10, 20, 30, 5, 6]

In [35]:
list_1.append(50)

In [36]:
print(list_1)

[10, 20, 30, 'Name', 'Region', True, 'Appended Value', 50]

In [50]:
print(list_1.sort())

None

In [51]:
print(list_1)

[5, 6, 10, 20, 30]

In [54]:
list_1.insert(3, 11)

In [55]:
print(list_1)

[9, 5, 6, 11, 10, 20, 30]

In [62]:
list_1.remove(6)

In [63]:
print(list_1)

[5, 10, 20, 30]

In [66]:
list_1.pop()

20

In [67]:
print(list_1)

[5, 10]

In [71]:
list_2 = [10,20, 10]

In [72]:
list_2.remove(10)

In [73]:
print(list_2)

[20, 10]

In [74]:
# Collection Data Type - Tuple

# Tuple is a collection data type which is immutable - immutable meaning that it cannot be changed once defined

In [82]:
my_tuple = (10,10,20,30,40, "MyString")

In [84]:
my_tuple

(10, 10, 20, 30, 40, 'MyString')

In [92]:
# Sets
# Insertion order is not preserved
# Duplicates are not allowed in set
# Mutable
# Indexing and slicing are not possible
# Hetrogenous data is allowed

set_1 = {10, 20, 30, 10, 20}

In [102]:
# Features of set
set_2 = {23, 34, 453, 23}
print(set_1.difference(set_2))

{10, 20, 30}

In [97]:
print(set_1)

{10, 20, 30}

In [98]:
print(set_2)

{40, 10, 20, 30}

In [103]:
set_3 = set_1.difference(set_2)

In [104]:
print(set_3)

{10, 20, 30}

In [106]:
print(set_1.add(90))

None

In [109]:
set_1 = {10,20,30}
set_2 = {10, 40, 50}
print(set_1.intersection(set_2))

{10}

In [110]:
# Dictionaries 
# Dictionaries are a key-value pair data type

my_dict = {"key": "value"}

In [115]:
house_hold_item = {"groceries_list": ["Salt", "Sugar", "Milk"],
                   "furniture_list": ["Bed", "Closet", "Sofa"],
                   "house_bills": ["Electric bill", "water bill", "internet bill"]}

In [120]:
house_hold_item.keys()

dict_keys(['groceries_list', 'furniture_list', 'house_bills'])

In [121]:
house_hold_item.values()

dict_values([['Salt', 'Sugar', 'Milk'], ['Bed', 'Closet', 'Sofa'], ['Electric bill', 'water bill', 'internet bill']])

In [122]:
house_hold_item["new_key"] = "New value"

In [126]:
print(house_hold_item.get("new_key"))

[10, 30, 40]

In [131]:
house_hold_item["new_key"] = [10, 30, 40]

In [129]:
house_hold_item.update({"new_key": "value"})

In [140]:
list_1 = house_hold_item.get("new_key")

In [137]:
list_1.append(50)

In [138]:
list_1

[10, 30, 40, 50]

In [139]:
house_hold_item['new_key'] = list_1

In [141]:
print(house_hold_item.get("new_key"))

[10, 30, 40, 50]

In [142]:
# Exercise for the coming week
# Go over the functions of list, set and tuple
# Create a list with values as 10,50,60,70
# Append value 100 to the above to the list
# Define a dictionary of students and add name, marks, region as keys and values