In [1]:
# Python String Functions

In [3]:
# Lstrip() # Remove the white spaces from the left side of the string
# Rstrip # Remove the white spaces from the right side

str1 = "    Hello"
print(str1.lstrip())

Hello

In [6]:
# Function to find the city is available using lstrip

def find_city(city_name):
  city_list = ["Mumbai", "Delhi", "Banglore", "Chennai"]

  if city_name.lstrip() in city_list:
    print("The city is available")

  else:
    print("city is not available")

city_name = input("Please enter a city name")
find_city(city_name)

Please enter a city name        Mumbai
The city is available

In [7]:
# Function to find the city is available rstrip

def find_city(city_name):
  city_list = ["Mumbai", "Delhi", "Banglore", "Chennai"]

  if city_name.rstrip() in city_list:
    print("The city is available")

  else:
    print("city is not available")

city_name = input("Please enter a city name")
find_city(city_name)

Please enter a city nameMumbai
The city is available

In [8]:
# Function to find the city is available using both

def find_city(city_name):
  city_list = ["Mumbai", "Delhi", "Banglore", "Chennai"]
  city_name = city_name.lstrip() 
  city_name = city_name.rstrip()

  if city_name in city_list:
    print("The city is available")

  else:
    print("city is not available")

city_name = input("Please enter a city name")
find_city(city_name)

Please enter a city name     Mumbai
The city is available

In [10]:
# Find Function


str1 = "Hello my name is Muzzammil"

str1.find('xml')

-1

In [15]:
# Input: a4b3c2

# Output: aaaabbbcc


def generate_string(input_string):
  number_list = []
  alphabet_list = []
  final_str = ""

  for i in input_string:

    if i.isdigit():

      number_list.append(int(i))

    elif i.isalpha():

      alphabet_list.append(i)

    
  for num in range(len(number_list)):
    final_str = final_str + (alphabet_list[num] * number_list[num])

  print(final_str)
    



generate_string("a4b3c2")

aaaabbbcc

In [20]:
# input: s1: john
        #s2: Jame

# Output: jjoahmne

def func2(str1, str2):
  final_str = ""
  for i in range(len(str1)):
    final_str += str1[i] + str2[i]

  print(final_str)

func2("john", "Jame")

jJoahmne

In [22]:
# Assgiment Questions

# 1

# input: Thescholar
#.       0123456789
# Output: # Even Character Index
            # Tecoa

          # Odd Character Index
          # hshlr


# 2 

# Input: b4a1d3
# output: abd134

# REGULAR EXPRESSION

In [26]:
# Installing the packages
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement re (from versions: none)
ERROR: No matching distribution found for re

In [28]:
import re

count = 0
pattern = re.compile("cd")

matcher = pattern.finditer("cdcdcdcdcdcdcdcdcdcdcdcdcdcdc")

for match in matcher:
  print("The start index is ", match.start(), "The end index is ", match.end(), match.group())

The start index is  0 The end index is  2 cd
The start index is  2 The end index is  4 cd
The start index is  4 The end index is  6 cd
The start index is  6 The end index is  8 cd
The start index is  8 The end index is  10 cd
The start index is  10 The end index is  12 cd
The start index is  12 The end index is  14 cd
The start index is  14 The end index is  16 cd
The start index is  16 The end index is  18 cd
The start index is  18 The end index is  20 cd
The start index is  20 The end index is  22 cd
The start index is  22 The end index is  24 cd
The start index is  24 The end index is  26 cd
The start index is  26 The end index is  28 cd

In [30]:
# Pattern 

# [abc] -> either a or b or c

import re

count = 0
pattern = re.compile("[abc]")

matcher = pattern.finditer("cdcdcdcdcdcdcdcdcdcdcdcdcdcdcabababa")

for match in matcher:
  print("The start index is ", match.start(), "The end index is ", match.end(), match.group())

The start index is  0 The end index is  1 c
The start index is  2 The end index is  3 c
The start index is  4 The end index is  5 c
The start index is  6 The end index is  7 c
The start index is  8 The end index is  9 c
The start index is  10 The end index is  11 c
The start index is  12 The end index is  13 c
The start index is  14 The end index is  15 c
The start index is  16 The end index is  17 c
The start index is  18 The end index is  19 c
The start index is  20 The end index is  21 c
The start index is  22 The end index is  23 c
The start index is  24 The end index is  25 c
The start index is  26 The end index is  27 c
The start index is  28 The end index is  29 c
The start index is  29 The end index is  30 a
The start index is  30 The end index is  31 b
The start index is  31 The end index is  32 a
The start index is  32 The end index is  33 b
The start index is  33 The end index is  34 a
The start index is  34 The end index is  35 b
The start index is  35 The end index is  36 a

In [31]:
# [^abc] -> except a and b and c

# [a-z] -> all the small letters from a-z
# [A-Z] -> All the upper letters from A-Z
# [0-9] -> ALL the digits from 0-9

In [32]:
import re
matcher = re.finditer('[acx]', "a7b@#$%c*&^x")
for i in matcher:
  print(i.start(), i.end(), i.group())

0 1 a
7 8 c
11 12 x

In [33]:
import re
matcher = re.finditer('[a-z]', "a7b@#$%c*&^x")
for i in matcher:
  print(i.start(), i.end(), i.group())

0 1 a
2 3 b
7 8 c
11 12 x

In [37]:
import re
matcher = re.finditer('[a-zA-Z0-9]', "a7b@#$%c*&^xA*&((BSDSD")
for i in matcher:
  print(i.start(), i.end(), i.group())

0 1 a
1 2 7
2 3 b
7 8 c
11 12 x
12 13 A
17 18 B
18 19 S
19 20 D
20 21 S
21 22 D

In [38]:
# \s -> Search for space
# \S -> Except the space
# \d -> Search for digits
# \D -> Except for Digits
# \w -> any alphabet
# \W -> Any character except alphanumeric (special chars)

In [39]:
import re

matcher = re.finditer("\s", "ASCSm.  ASAS.  SDSDSD")
for i in matcher:
  print(i.start(), i.end(), i.group())

6 7
7 8
13 14
14 15

In [40]:
import re

matcher = re.finditer("\S", "ASCSm.  ASAS.  SDSDSD")
for i in matcher:
  print(i.start(), i.end(), i.group())

0 1 A
1 2 S
2 3 C
3 4 S
4 5 m
5 6 .
8 9 A
9 10 S
10 11 A
11 12 S
12 13 .
15 16 S
16 17 D
17 18 S
18 19 D
19 20 S
20 21 D

In [42]:
import re

matcher = re.finditer("\d", "ASCSm.  ASAS.  SDSDSD 232323 2323 2312")
for i in matcher:
  print(i.start(), i.end(), i.group())

22 23 2
23 24 3
24 25 2
25 26 3
26 27 2
27 28 3
29 30 2
30 31 3
31 32 2
32 33 3
34 35 2
35 36 3
36 37 1
37 38 2

In [45]:
import re

matcher = re.finditer("\W", "ASCSm.  ASAS.  SDSDSD 232323 2323 2312 $ % #$#$#(*")
for i in matcher:
  print(i.start(), i.end(), i.group())

5 6 .
6 7
7 8
12 13 .
13 14
14 15
21 22
28 29
33 34
38 39
39 40 $
40 41
41 42 %
42 43
43 44 #
44 45 $
45 46 #
46 47 $
47 48 #
48 49 (
49 50 *